@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Uncial+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

h1, h2, h3 {
    font-family: 'Uncial Antiqua', cursive;
}
